body {
    margin: 10px;
    padding: 0;
    border: double;
    border-color: #b3d4fc;
}

header{
    background-color: #216697;
    color: white;
    text-align: center;
    letter-spacing: 0.2em;
}

div{}

article {
    background-color: #cccccc;
    margin-bottom: -2.5em;
}

section table {
    float: left;
    margin-left: 100px;
    margin-bottom: 0;
    color:salmon;
}

article table {
    margin-left: 700px;
    margin-bottom: 0;
    color:sienna;
}

article table td {
    padding: 0;
}

article table tr {
    text-align: center;
}

article table tr th {
    color:slategray;
}

footer {
    clear: both;
    text-align: center;
    background-color: #216697;
    color: honeydew;
    margin-top: -2.5em;
    letter-spacing: 0.2em;
    margin-bottom: 0;
}

button {
    margin: -7px;
    background-color: blue;
    text-transform: uppercase;
    color: white;
    border: double; border-color: blueviolet;
}
a:visited {
    color: white;
}

a:hover {
    color:yellow;
}
